

#error-message {
  border: red solid;
  margin: auto;
  padding-bottom: 10px;
  width: 99;
}

.new-tweet {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: auto;
  width: 99%;
}

.text-box {
  width: 100%;
  background-color: #f4f1ec;
  border: none;
  border-bottom: 5px solid black;
}

#after-border {
  display: flex;
  justify-content: space-between;
  font-family: "Bungee", cursive;
}

#button {
  background-color: #4159b0;
  color: #ffffff;
}
