
article.tweet header{
  display: flex;
  background-color: none;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.3em;
  background-color: #f4f1ec;
  border: black solid;
  align-items: flex-start;
  height: 30vh;
  width: auto;
  
}
.profile-icon{
  display: flex;
  justify-content: space-evenly;
}
.users-tweet{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.border{
  width: 100%;
  background-color:#f4f1ec;
  border:none;
  border-bottom: 5px solid black;
}